<link rel="stylesheet" type="text/css" href="css/codemirror.css">
<script>
    window.klipse_settings = {
        selector: '.eval-clojure',
        selector_eval_js: '.eval-javascript',
        selector_reagent: '.eval-reagent',
        selector_eval_html: '.eval-html'
    };
</script>
<script src="https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js"></script>
<script>
    Reveal.addEventListener( 'slidechanged', function() {
        window.dispatchEvent(new Event('resize'));
    } );
</script>
