.reveal h2, th {
  font-size: 1.5em;
  padding-bottom: 0.5em;
/*   color: #66AF40; */
    color: red;
  font-weight:bold;
}

.reveal pre {
  font-size: 0.8em;
  box-shadow: none;
  padding: 0.1em;
  background-color: #F8F8F8;
}

.reveal section {
  font-size: 0.8em;
/*   color: #5B80D4; */
  /* allow vertical scrolling in slides */
  max-height: 100%;
  overflow-y: auto;
}

.reveal section img {
  margin: 0;
  border: 0px solid #66AF40;
/*   height: 300px; */
  box-shadow:none;
}

.reveal section p, h1, h2, div {
  text-align: left;
}

.slides {
  width: 90% !important;
}

html.title body {
  background: linear-gradient(to bottom left, #91B3FB, #92DA55);
}

.small {
  font-size: 0.5em !important;
}

.klipse-snippet {
  border: solid #92DA55 1px !important;
}

.klipse-result {
  border: solid #91B3FB 1px !important;
}

code {
  background-color: #F8F8F8;
}

.CodeMirror-cursor {
  border-left: 1px solid black !important;
}

.CodeMirror-scroll {
  padding-bottom: 30px !important;
  margin-bottom: -30px !important;
}